{% extends "rpg/layout.html" %}

{% block html %}
{%block doctype %}
	{{ parent() }}
{% endblock %}
<html lang="pl" data-ng-app="rpgApp" >
{%block head %}
	{{ parent() }}
{% endblock %}
{%block body %}
	{{ parent() }}
{% endblock %}
</html>
{% endblock %}


{% block main %}
<div data-ng-controller="RpgController" class="container">
	<div class="col-xs-12 col-sm-3 sidebar">
		<div class="list-group">
			<a data-ng-repeat="item in tabs" href="#[[ item.route() ]]" class="list-group-item" data-ng-class="{active: activeRoute(item.route())}">
				<span class="list-group-item-heading">[[ item.label ]]</span>
				<span class="badge" data-ng-bind="[[ item.badge ]]"></span>
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9 main">
		<div data-ng-view="">
			[[ label ]]
		</div>
	</div>
</div>
{% endblock %}

