{% extends "layout.html" %}

{%- block head -%}
<head>
	<title>RPG</title>
	{% for file in ['css/page.css', 'rpg/css/rpg.css'] %}
	<link rel="stylesheet" href="{{ path('resource:css', { file: file }) }}" type="text/css" media="screen">
	{% endfor %}
</head>
{%- endblock -%}

{% block bottomScripts %}
	{{ parent() }}
	{% for file in ['rpg/core.js', 'rpg/js/rpg.js'] %}
	<script src="{{ path('resource:js', { file: file }) }}" type="application/javascript" charset="utf-8"></script>
	{% endfor %}
{% endblock %}

{% block menu %}
	{% set activItem = 'rpg' %}
	{{ parent() }}
{% endblock %}
