body {
	background: #eaeaea url('../assets/main_bg.png') no-repeat center center;
}

.hero {
	width: 100%;
	height: 100px;
	color: #fff;
	background: #346bca url('../assets/hero_bg.png') repeat-x left top;
}

.hero .logo {
	display: block;
	margin: 0 20px 0 0;
	float: left;
}

.hero .page-title {
	overflow: hidden;
	color: #000;
}

.hero .page-title h1 {
	margin: 10pt 0 8pt;
	font-size: 24pt;
	line-height: 1.2em;
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}

.hero .page-title h2 {
	margin: 8pt 0;
	line-height: 1.2em;
	font-size: 17pt;
}

.navbar{
	width: 100%;
	height: 50px;
	background: #000 url('../assets/bar_bg.png') repeat-x left top / 100% 50px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li.open > a,
.navbar .nav > li.open > button  {
	background: url('../assets/bar_bg_highlight.png') repeat-x left top / 100% 50px;
}

.top-bar .nav > li > .btn {
	background: transparent;
	border: none;
}

.main {
	margin-top: 15px;
}
