<h1>Wstęp</h1>
<p class="lead">Biegniesz prze gęste zarośla to wszystko wydaje się być jak sen ta bestia którą widziałeś nie może być prawdziwa. Powtarzasz sobie nie powiniennem był tu przychodzić muszę stąd uciekać. Wtem zarośla kończą się z ledwością zdąrzyłeś złapać się gałęzi gdy spostrzegłeś pod sobą wielką przepaść. Szybko podciągasz się i chowasz się za drzewem bestia która cię ścigała unosi się nad przepaścią...</p>
<p>A wszystko zaczeło się pare lat temu <select data-ng-model="historia.profesja"><option value="lowca">gdy zakończyłem szkolenie jako myśliwy</option><option value="alchemik">gdy pracowałem jako pomocnik alchemika</option></select> w <select data-ng-model="historia.typMiejscowosciStartowej"><option value="miasto">pobliskim mieście</option><option value="wioska">pobliskiej wiosce</option></select></p>


<pre>[[ historia.profesja ]]</pre>
<pre>[[ historia.typMiejscowosciStartowej ]]</pre>