<!doctype html>
<html>
<head>
	{% block head %}
		<meta content="UTF-8"/>
		<title>{% block title %}{{ [pageTitle|default('Strona'), app.projectName]|join(' - ') }}{% endblock %}</title>
		{% for file in ['css/admin.css'] %}
		<link rel="stylesheet" href="{{ path('resource:css', { file: file }) }}" type="text/css" media="screen">
		{% endfor %}
	{% endblock %}
</head>
<body>
	{% block hero %}
	<div class="hero">
		<div class="wrapper container-fluid">
			<div class="row">
				{% block heroContent %}
					<a class="logo" href="{{ app.request.getBasePath() }}"><img src="{{ path('resource:asset', { file: 'assets/logo.png' }) }}" alt="{{ app.projectName }}"/></a>
					<div class="page-title">
						<h1>{{ pageTitle }}</h1>
						<h2 class="text-nowrap">{{ app.projectName }}</h2>
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
	{% endblock %}
	{% block navigation %}
	<div class="top-bar">
		<div class="wrapper container-fluid">
			<div class="row">
				<nav class="col-xs-12">
					<ul class="menu">
						<li>
							<a href="{{ url('widget:admin:widget:list') }}">Wihajstry</a>
						</li>
						<li>
							<a href="{{ url('content:admin:article:list') }}">Artykuły</a>
						</li>
						<li>
							<a href="{{ url('navigation:admin:menu:list') }}">Menu</a>
						</li>
					</ul>
				</nav>
				{{ render(url('widget:position', { position: 'topbar'})) }}
			</div>
		</div>	
	</div>
	{% endblock %}
	{% block main %}
	<div class="main">
		<div class="wrapper container-fluid">
			<div class="row">
				<div class="col-xs-9">
					{% block mainContent %}
						
					{% endblock %}
				</div>
				<div class="col-xs-3">
					{{ render(url('widget:position', { position: 'sidebar'})) }}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block footer %}
	<div class="footer">
		<div class="wrapper container-fluid">
			{% block footerContent %}
				<div class="row">{{ render(url('widget:position', { position: 'footer', 'box-class': 'col-xs-3', 'header-level': 3 })) }}</div>
				<div class="row">
					<div class="col-xs-12 text-right">2009-{{ 'now'|date('Y') }} &copy; Paweł Kapalla, Xesenix</div>
				</div>
			{% endblock %} 
		</div>
	</div>
	{% endblock %}
	{% block bottomScripts %}
		{% for file in ['js/jquery/jquery.js', 'js/tinymce/tinymce.min.js', 'js/core.js'] %}
		<script src="{{ path('resource:js', { file: file }) }}" type="application/javascript" charset="utf-8"></script>
		{% endfor %}
	{% endblock %}
</body>
</html>