<!doctype html>
<html lang="pl">
<head>
	{% block head %}
		<meta content="UTF-8"/>
		<title>{% block title %}{{ [pageTitle, app.projectName]|join(' - ') }}{% endblock %}</title>
		{% for file in ['css/page.css'] %}
		<link rel="stylesheet" href="{{ path('resource:css', { file: file }) }}" type="text/css" media="screen">
		{% endfor %}
	{% endblock %}
</head>
<body>
	{% block navigation %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			{% block topMenu %}
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				{% block menu %}
				<ul class="nav navbar-nav">
					{% for item in [{'route': 'articles', 'label': 'Artykuły'}, {'route': 'rpg', 'label': 'RPG'}] %}
					<li{% if app.request.get('_route') == item.route or activItem is defined and activItem == item.route %} class="active"{% endif %}><a href="{{ url(item.route) }}">{{ item.label }}</a></li>
					{% endfor %}
				</ul>
				{% endblock %}
			</div>
			{% endblock %}
		</div>
	</nav>
	{% endblock %}
	{% block hero %}
	<div class="jumbotron hero">
		<div class="container">
			{% block heroContent %}
				<h1>{{ pageTitle }}</h1>
				<h2>{{ app.projectName }}</h2>
			{% endblock %}
		</div>
	</div>
	{% endblock %}
	{% block main %}
	<div class="main">
		<div class="container">
		{% block mainContent %}
			Test content
		{% endblock %}
		</div>
	</div>
	{% endblock %}
	{% block footer %}
	<footer class="navbar navbar-fixed-bottom footer">
		<div class="container">
			{% block footerContent -%}
				<div class="row">
					<div class="pull-right">&copy; Paweł Kapalla, <a href="http://xesenix.pl">Xesenix.pl</a> 2009-{{ 'now'|date('Y') }} </div>
				</div>
			{%- endblock %} 
		</div>
	</footer>
	{% endblock %}
	{% block bottomScripts %}
		{% for file in ['js/core.js'] %}
		<script src="{{ path('resource:js', { file: file }) }}" type="application/javascript" charset="utf-8"></script>
		{% endfor %}
	{% endblock %}
</body>
</html>